<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Medical Spring</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

</head>
<body>

<div class="mt-10">
    <header id="header" class="alt" th:include="menu :: title-menu" />
</div>
<div class="container">
    <p class="btn btn-info btn-sm mb-3 mt-3">Wypełnij aby dodać nowe lekarstwo</p>


    <form action="#" th:action="@{/medicines/addNewMedicine}" th:object="${medicine}" method="POST">
        <div class="container">

<!--            for UPDATE -->
            <input type="hidden" th:field="*{medicineId}"/>

            <div class="mb-4">
                <input type="text" th:field="*{medicineName}" th:class="${#fields.hasErrors('medicineName')}? 'form-control  col-5 is-invalid' : 'form-control col-5'" placeholder="Nazwa leku"/>
                <mark class="error-sign small" th:if="${#fields.hasErrors('medicineName')}" th:errors="*{medicineName}"></mark>
            </div>

            <div class="mb-4">
                <input type="text" th:field="*{medicineCode}" th:class="${#fields.hasErrors('medicineCode')}? 'form-control col-5 is-invalid' : 'form-control col-5'" placeholder="Kod" />
                <mark class="error-sign small" th:if="${#fields.hasErrors('medicineCode')}" th:errors="*{medicineCode}"></mark>
            </div>
            <div class="mb-4">
                <input type="text" th:field="*{medicineDescription}" th:class="${#fields.hasErrors('medicineDescription')}? 'form-control col-5 is-invalid' : 'form-control col-5'" placeholder="Opis"/>
                <mark class="error-sign small" th:if="${#fields.hasErrors('medicineDescription')}" th:errors="*{medicineDescription}"></mark>
            </div>

            <input type="submit" class="btn btn-outline-primary col-4" value="ZAPISZ">
            <input type="reset" class="btn btn-outline-secondary col-1">
        </div>

    </form>

    <a class="btn btn-outline-dark mb-3 mt-3" th:href="@{/medicines}">Powrót do listy</a>

</div>

</body>
</html>