<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Medical Spring</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script type="text/javascript" th:src="@{/static/js/searchPatient.js}"></script>


<style>
    .searchTh{
        background-color: whitesmoke;
    }

</style>
</head>
<body>

<div class="mt-10">
    <header id="header" class="alt" th:include="menu :: title-menu" />
</div>
<div class="container">


    <!--    Add a button-->
    <a th:href="@{/patients/showFormForAddPatient}"
       class="btn btn-info btn-sm mb-3 mt-3">
        Add new patient
    </a>
    <input type="text" id="myInput" onkeyup="function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        table = document.getElementById('myTable');
        tr = table.getElementsByTagName('tr');
        for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName('td')[2];
        if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = '';
        } else {
        tr[i].style.display = 'none';
        }
        }
        }
    }
    myFunction()" placeholder="Search for names..">

    <table  id="myTable" class="table table-striped table-hover table-sm table-bordered">
        <thead class="thead-dark">
        <tr class="text-sm-center">
            <th>ID</th>
            <th>PESEL</th>
            <th>SURNAME</th>
            <th>NAME</th>
            <th>BIRTHDAY</th>
            <th>COMMUNITY</th>
            <th>CODE</th>
            <th>CITY</th>
            <th>STREET</th>
            <th>NR/</th>
            <th>/NR</th>
            <th>ACTION</th>
            <th>DELETE</th>
        </tr>
        <tr>
            <th >ID</th>
            <th><input type="text" style="width: 100%" id="1" onkeyup="myFunction()" placeholder="Search.." >
            </th>
            <th><input type="text" style="width: 100%" id="2" onkeyup="myFunction()" placeholder="Search.." >
            </th>
            <th><input type="text" style="width: 100%" id="3" onkeyup="myFunction()" placeholder="Search.." >
            </th>
            <th><input type="text" style="width: 100%" id="4" onkeyup="myFunction()" placeholder="Search.." >
            </th>
            <th><input type="text" style="width: 100%" id="5" onkeyup="myFunction()" placeholder="Search.." >
            </th>
            <th><input type="text" style="width: 100%" id="6" onkeyup="myFunction()" placeholder="Search.." >
            </th>
            <th><input type="text" style="width: 100%" id="7" onkeyup="myFunction()" placeholder="Search.." >
            </th>
            <th><input type="text" style="width: 100%" id="8" onkeyup="myFunction()" placeholder="Search.." >
            </th>
            <th><input type="text" style="width: 100%" id="9" onkeyup="myFunction()" placeholder="Search.." >
            </th>
            <th><input type="text" style="width: 100%" id="10" onkeyup="myFunction()" placeholder="Search.." >
            </th>

        </tr>
        </thead>
        <tbody class="text-sm-right">
        <tr th:each="patient : ${patientList}">
            <td th:text="${patient.patientId}" ></td>
            <td th:text="${patient.pesel}" ></td>
            <td th:text="${patient.surname}" ></td>
            <td th:text="${patient.name}" ></td>
            <td th:text="${patient.birthday}" ></td>
            <td th:text="${patient.community}" ></td>
            <td th:text="${patient.zipCode}" ></td>
            <td th:text="${patient.city}" ></td>
            <td th:text="${patient.street}" ></td>
            <td th:text="${patient.houseNumber}" ></td>
            <td th:text="${patient.apartmentNumber}" ></td>

            <td>
                <a th:href="@{/patients/showFormForEditPatient(patientIdToEdit=${patient.patientId})}"
                   class="btn btn-info btn-sm">Update</a>
            </td>
            <td>
                <a th:href="@{/patients/delete(patientIdToDelete=${patient.patientId})}"
                   class="btn btn-danger btn-sm"
                   onclick="if(!(confirm('Are you sure?')))return false">Delete</a>
            </td>

        </tr>
        </tbody>
    </table>


</div>

</body>
</html>