<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Medical Spring</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="mt-10">
    <header id="header" class="alt" th:include="menu :: title-menu" />
</div>
<div class="container">
    <p class="btn btn-info btn-sm mb-3 mt-3">Fill form to add new patient</p>

    <form action="#" th:action="@{/patients/addNewPatient}" th:object="${patient}" method="POST">
        <div class="container">

            <!--            for UPDATE -->
            <input type="hidden" th:field="*{patientId}"/>

            <div class="mb-3">
                <input type="text" th:field="*{pesel}" th:class="${#fields.hasErrors('pesel')}? 'form-control  col-5 is-invalid' : 'form-control col-5'" placeholder="Pesel"/>
                <mark class="error-sign small" th:if="${#fields.hasErrors('pesel')}" th:errors="*{pesel}"></mark>
            </div>

            <div class="mb-3">
                <input type="text" th:field="*{surname}" th:class="${#fields.hasErrors('surname')}? 'form-control col-5 is-invalid' : 'form-control col-5'" placeholder="Surname" />
                <mark class="error-sign small" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></mark>
            </div>
            <div class="mb-3">
                <input type="text" th:field="*{name}" th:class="${#fields.hasErrors('name')}? 'form-control col-5 is-invalid' : 'form-control col-5'" placeholder="Name"/>
                <mark class="error-sign small" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></mark>
            </div>

            <div class="mb-3">
                <input type="text" th:field="*{birthday}" th:class="${#fields.hasErrors('birthday')}? 'form-control  col-5 is-invalid' : 'form-control col-5'" placeholder="Birthday"/>
                <mark class="error-sign small" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></mark>
            </div>

            <div class="mb-3">
                <input type="text" th:field="*{sex}" th:class="${#fields.hasErrors('sex')}? 'form-control  col-5 is-invalid' : 'form-control col-5'" placeholder="Sex"/>
                <mark class="error-sign small" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"></mark>
            </div>

            <div class="mb-3">
                <input type="text" th:field="*{community}" th:class="${#fields.hasErrors('community')}? 'form-control col-5 is-invalid' : 'form-control col-5'" placeholder="Comunity" />
                <mark class="error-sign small" th:if="${#fields.hasErrors('community')}" th:errors="*{community}"></mark>
            </div>
            <div class="mb-3">
                <input type="text" th:field="*{zipCode}" th:class="${#fields.hasErrors('zipCode')}? 'form-control col-5 is-invalid' : 'form-control col-5'" placeholder="Zip code"/>
                <mark class="error-sign small" th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}"></mark>
            </div>

            <div class="mb-3">
                <input type="text" th:field="*{city}" th:class="${#fields.hasErrors('city')}? 'form-control  col-5 is-invalid' : 'form-control col-5'" placeholder="City"/>
                <mark class="error-sign small" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></mark>
            </div>

            <div class="mb-3">
                <input type="text" th:field="*{street}" th:class="${#fields.hasErrors('street')}? 'form-control col-5 is-invalid' : 'form-control col-5'" placeholder="Street" />
                <mark class="error-sign small" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></mark>
            </div>
            <div class="mb-3">
                <input type="text" th:field="*{houseNumber}" th:class="${#fields.hasErrors('houseNumber')}? 'form-control col-5 is-invalid' : 'form-control col-5'" placeholder="House number"/>
                <mark class="error-sign small" th:if="${#fields.hasErrors('houseNumber')}" th:errors="*{houseNumber}"></mark>
            </div>
            <div class="mb-3">
                <input type="text" th:field="*{apartmentNumber}" th:class="${#fields.hasErrors('apartmentNumber')}? 'form-control col-5 is-invalid' : 'form-control col-5'" placeholder="Apartment number"/>
                <mark class="error-sign small" th:if="${#fields.hasErrors('apartmentNumber')}" th:errors="*{apartmentNumber}"></mark>
            </div>

            <input type="submit" class="btn btn-outline-primary col-4">
            <input type="reset" class="btn btn-outline-secondary col-1">
        </div>

    </form>

<!--    <a class="btn btn-info btn-sm mb-3 mt-3" th:href="@{/patients}">Back to Patients List</a>-->
    <a class="btn btn-outline-dark mb-3 mt-3" th:href="@{/patients}">Back to list</a>

</div>


</body>
</html>