<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Medical Spring</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login-page.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="bg">
<div class="container">

        <div class="card">
            <div class="card-block">
                <form name="f" th:action="@{/signin}" method="post">
                    <fieldset>
                        <!-- Thymeleaf + Spring Security error display -->
                        <div th:if="${param.error}" class="alert alert-danger">
                            Nieprawidłowe dane logowania.
                        </div>

                        <!-- Login Controls -->
                        <div class="form-group">
                            <label for="username">Login</label>
                            <input type="text" class="form-control" id="username" name="username"
                                   placeholder="Login...">
                        </div>

                        <div class="form-group">
                            <label for="password">Hasło</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Hasło...">
                        </div>
                        <!-- Login Button -->
                        <div class="form-actions">
                            <button type="submit" class="btn btn-outline-primary col-4">Zaloguj</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>