<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Medical Spring</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/password-changer.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/js/passwordConfirm.js}"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-header">
            Zanim kontynuujesz, ustaw nowe hasło.
        </div>
    <div class="card-block">
    <form action="#" th:action="@{/employees/change-password}" th:object="${passwordChangerDto}" method="POST">
        <div th:if="${#fields.hasErrors('oldPassword')}" class="alert alert-danger">
            Nieprawidłowe dane!.
        </div>
        <div class="mb-3">
            <input type="password" th:field="*{oldPassword}"  id="oldPassword"  th:class="${#fields.hasErrors('oldPassword')}? 'form-control is-invalid' : 'form-control'" placeholder="Aktualne hasło..."/>
            <mark class="error-sign small" th:if="${#fields.hasErrors('oldPassword')}"
                  th:errors="*{oldPassword}">
            </mark>
        </div>
        <div class="mb-3">
            <input type="password" th:field="*{newPassword}"  id="newPassword"  th:class="${#fields.hasErrors('newPassword')}? 'form-control is-invalid' : 'form-control'" placeholder="Nowe hasło"/>
            <mark class="error-sign small" th:if="${#fields.hasErrors('newPassword')}"
                  th:errors="*{newPassword}">
            </mark>
        </div>
        <div class="mb-3">
            <input onkeyup="isCorrectlyConfirmed()" type="password" th:field="*{confirmedPassword}"  id="confirmedPassword"  th:class="${#fields.hasErrors('confirmedPassword')}? 'form-control is-invalid' : 'form-control'" placeholder="Potwierdź nowe hasło"/>
            <mark class="error-sign small" th:if="${#fields.hasErrors('confirmedPassword')}"
                  th:errors="*{confirmedPassword}">
            </mark>
        </div>

        <div class="row">
            <input type="submit" value="Wyślij" class="btn btn-outline-primary col-4">
            <input type="reset"  class="btn btn-outline-secondary col-4">
        </div>
    </form>
    </div>
    </div>
</div>
</body>
</html>