<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Medical Spring</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link  rel="stylesheet" href="/static/css/password-changer.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="/static/js/passwordConfirm.js"></script>

</head>
<body>
<div class="container">
    <form action="#" th:action="@{/employees/change-password}" th:object="${passwordChangerDto}" method="POST">
        <div class="mb-3">
            <input type="password" th:field="*{newPassword}"  id="newPassword"  th:class="${#fields.hasErrors('newPassword')}? 'form-control is-invalid' : 'form-control'" placeholder="Twoje nowe hasło"/>
            <mark class="error-sign small" th:if="${#fields.hasErrors('newPassword')}"
                  th:errors="*{newPassword}">
            </mark>
        </div>
        <div class="mb-3">
            <input oninput="confirmPassword()" type="password" th:field="*{confirmedPassword}"  id="confirmedPassword"  th:class="${#fields.hasErrors('confirmedPassword')}? 'form-control is-invalid' : 'form-control'" placeholder="Potwierdź swoje hasło"/>
            <mark class="error-sign small" th:if="${#fields.hasErrors('confirmedPassword')}"
                  th:errors="*{confirmedPassword}">
            </mark>
        </div>

        <div class="row">
            <input type="submit" class="btn btn-outline-primary col-4">
            <input type="reset" class="btn btn-outline-secondary col-4">
        </div>

    </form>
    </div>
</body>
</html>