<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Medical Spring</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/tableC.css}"/>

</head>
<body>

<div class="mt-10">
    <header id="header" class="alt" th:include="menu :: title-menu" />
</div>



<div class="container mt-2">
    <div class="row">

        <div class="col-md-4">

            <div class="row">
                <div class="card" style="width:100%">
                    <h2 class="text-center mb-2 mt-2" th:text="${patient.name + ' ' + patient.surname}"></h2>
                    <img class="card-img-top rounded mx-auto d-block " th:src="@{/images/avatar.png}" alt="Card image" style="width:60%" src="">
                    <div class="card-body">
                        <h6 class="card-title mb-1">Adres</h6>
                        <p class="list-group-item" >
                            <th:block th:text="${patient.street + ' ' + patient.houseNumber + '/' + patient.apartmentNumber}"/>    <br/>
                            <th:block th:text="${#strings.substring(patient.zipCode,0,2) +'-'+ #strings.substring(patient.zipCode,2,5) +', '+ patient.city}"/>
                        </p>

                        <h6 class="card-title mb-1 mt-3">Kontakt</h6>
                        <p class="list-group-item" >
                            <th:block th:text="${'+48 ' + patient.mobilePhoneNumber}"/> <br/>
                            <th:block th:text="${'+48 ' + patient.workPhoneNumber}"/>  <br/>
                            <th:block th:text="${'+48 ' + patient.homePhoneNumber}"/>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row mt-1">
                <div class="card" style="width:100%">
<!--                    choroby i leki-->
                </div>
            </div>
            <div class="row mt-1">
                <a class="btn btn-outline-dark mb-1 mt-1" th:href="@{/patients/}">Wstecz</a>
            </div>

        </div>

        <div class="col-md-8 pr-0">
            <div class="card w-100 pb-0 mb-0">
                <div class="w-100 mt-1 mb-1 ml-1">
                    <label>Lista wizyt środowiskowych:</label>
                </div>

                <div class="card" style="overflow: auto; height: 75vh">
                    <table class="table">
                        <tbody th:each="visit: ${patient.getVisitsPatients()}">
                        <tr>
                            <td colspan="2" style="background-color: antiquewhite;" th:text="${'Data wizyty: ' + visit.visitDate}"> </td>
                        </tr>
                        <tr th:each="visitTreatment : ${visit.visitTreatments}">
                            <td th:text="${visitTreatment.treatment.getName()}" > </td>
                            <td th:text="${visitTreatment.note}"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>
</div>


</body>
</html>
