<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Medical Spring</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

</head>
<body>

<div class="mt-10">
    <header id="header" class="alt" th:include="menu :: title-menu" />
</div>
<div class="container">
    <p>Patient:</p><br>
    <H3 th:text="${patient.name + ' ' + patient.surname}"  ></H3>

    <ul class="list-group list-group-flush" >
        <li class="list-group-item" th:text="${'PESEL: ' +patient.pesel}"></li>
        <li class="list-group-item" th:text="${'Data urodzenia: ' +patient.birthday}"></li>
        <li class="list-group-item" th:text="${'Lekarz prowadzący: ' + doctor.name + ' ' + doctor.surname}"></li>
    </ul><br>

    <p class="text-uppercase font-weight-bold">Adres:</p>
    <ul class="list-group list-group-flush" >
        <li class="list-group-item" th:text="${patient.community}"></li>
        <li class="list-group-item" th:text="${patient.zipCode +', ' +patient.city}"></li>
        <li class="list-group-item" th:text="${patient.street + ' ' +patient.houseNumber +'/' +patient.apartmentNumber }"></li>
    </ul><br>

    <p class="text-uppercase font-weight-bold">Kontakt:</p>
    <ul class="list-group list-group-flush" >
        <li class="list-group-item" th:text="${patient.homePhoneNumber}"></li>
        <li class="list-group-item" th:text="${patient.workPhoneNumber}"></li>
        <li class="list-group-item" th:text="${patient.mobilePhoneNumber}"></li>
    </ul>

    <p class="text-uppercase font-weight-bold">Medicines:</p>
    <ul class="list-group list-group-flush" th:each="medicine, medicineStat : ${patient.patientMedicines}" >
        <li class="list-group-item" th:text="${medicineStat.count+ ' '+ medicine.medicineName}"></li>
    </ul>

    <p class="text-uppercase font-weight-bold">Diseases:</p>
    <ul class="list-group list-group-flush" th:each="disease, diseaseStat : ${patient.patientDiseases}" >
        <li class="list-group-item" th:text="${diseaseStat.count+ ' '+ disease.diseaseName}"></li>
    </ul>

    <a class="btn btn-outline-dark mb-3 mt-3" th:href="@{/patients}">Back to list</a>
</div>


</body>
</html>
