<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Medical Spring</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css}"
          type="text/css"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/tableC.css}" type="text/css"/>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <script crossorigin="anonymous"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script th:src="@{/js/searchPatient.js}" type="text/javascript"></script>

</head>
<body>

<div class="mt-10">
    <header class="alt" id="header" th:include="menu :: title-menu"/>
</div>
<div class="container">

    <!--    Add a button-->
    <a class="btn btn-info btn-sm mb-3 mt-3"
       th:href="@{/patients/showFormForAddPatient}">
        Dodaj nowego pacjenta <i class="fas fa-user-edit"></i>
    </a>

    <div class="container">

        <div class="table-wrapper-scroll-y my-custom-scrollbar">

            <table class="text-nowrap fixed_headers table table-striped table-hover table-sm table-bordered"
                   id="myTable">
                <thead class="thead-dark">
                <tr>
                    <td colspan="13">
                        <a class="text-right" data-target="#target2" data-toggle="collapse">
                            Zaawansowane wyszukiwanie ...
                        </a>
                    </td>
                </tr>
                <tr class="text-sm-center">
                    <th>ID</th>
                    <th>PESEL</th>
                    <th>NAZWISKO</th>
                    <th>IMIĘ</th>
                    <th>DATA</th>
                    <th>KOD</th>
                    <th>MIASTO</th>
                    <th>ULICA</th>
                    <th>DOM</th>
                    <th>NR</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr class="collapse" id="target2">
                    <th></th>
                    <th><input id="pesel" onkeyup="searchByPesel()" placeholder="pesel" style="width: 100%" type="text">
                    </th>
                    <th><input id="surname" onkeyup="searchBySurname()" placeholder="nazwisko" style="width: 100%"
                               type="text"></th>
                    <th><input id="name" onkeyup="searchByName()" placeholder="imię" style="width: 100%" type="text">
                    </th>
                    <th><input id="birthday" onkeyup="birthday()" placeholder="data" style="width: 100%" type="text">
                    </th>
                    <th><input id="zip" onkeyup="zip()" placeholder="kod" style="width: 100%" type="text"></th>
                    <th><input id="city" onkeyup="city()" placeholder="miasto" style="width: 100%" type="text"></th>
                    <th><input id="street" onkeyup="street()" placeholder="ulica" style="width: 100%" type="text"></th>
                    <th><input id="hNumber" onkeyup="hNumber()" placeholder="" style="width: 100%" type="text"></th>
                    <th><input id="aNumber" onkeyup="aNumber()" placeholder="" style="width: 100%" type="text"></th>
                    <th>-</th>
                    <th>-</th>
                    <th>-</th>
                </tr>
                </thead>

                <tbody class="text-right">
                <tr th:each="patient : ${patientList}">
                    <td>
                        <a th:href="@{/patients/showPatientDetails(patientIdDetails=${patient.patientId})}">
                            <span style="font-size: 1em; color: mediumvioletred;" th:if="${patient.sex == 'Kobieta'}"><i
                                    class="far fa-user"></i></span>
                            <span style="font-size: 1em; color: dodgerblue;" th:unless="${patient.sex == 'Kobieta'}"><i
                                    class="far fa-user"></i></span>

                            <span style="font-size: 1em; color: mediumvioletred;" th:if="${patient.sex == 'Kobieta'}"
                                  th:text="${patient.patientId}"></span>
                            <span style="font-size: 1em; color: dodgerblue;" th:text="${patient.patientId}"
                                  th:unless="${patient.sex == 'Kobieta'}"></span>

                        </a>
                    </td>
                    <td th:text="${patient.pesel}"></td>
                    <td th:text="${patient.surname}"></td>
                    <td th:text="${patient.name}"></td>
                    <td th:text="${patient.birthday}"></td>
                    <td th:text="${patient.zipCode}"></td>
                    <td th:text="${patient.city}"></td>
                    <td th:text="${patient.street}"></td>
                    <td th:text="${patient.houseNumber}"></td>
                    <td th:text="${patient.apartmentNumber}"></td>

                    <td class="text center text-nowrap">
                        <a th:href="@{mails/show-mail-form(patientId=${patient.patientId})}">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </td>

                    <td class="text-center text-nowrap">

                        <a th:href="@{/visits/showFormForAddVisit(patientId=${patient.patientId})}">
                            <span style="font-size: 1em; color: green;"><i class="fas fa-user-nurse"></i></span>
                        </a>


                    </td>
                    <td class="text-center">
                        <a th:href="@{/patients/showFormForEditPatient(patientIdToEdit=${patient.patientId})}">
                            <span style="font-size: 1em; color: dodgerblue;">
                                    <i class="fas fa-user-edit"></i>
                            </span>
                        </a>
                    </td>
                    <td class="text-center">
                        <a onclick="if(!(confirm('Czy jesteś pewien?')))return false"
                           th:href="@{/patients/delete(patientIdToDelete=${patient.patientId})}">
                        <span style="font-size: 1em; color: firebrick;">
                            <i class="fas fa-trash-alt"></i>
                        </span>


                        </a>
                    </td>

                </tr>
                </tbody>
            </table>


        </div>


    </div>
    <div class="text-center"><br>
        <p>@2019 - Medical Spring, All Right Reserved.</p>
    </div>


</div>


</body>
</html>