<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Medical Spring</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

</head>
<body>

<div class="mt-10">
    <header id="header" class="alt" th:include="menu :: title-menu" />
</div>



<div class="container">

<nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container-fluid">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/analysis/details(month=01)}">Styczeń</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/analysis/details(month=02)}">Luty</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/analysis/details(month=03)}">Marzec</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/analysis/details(month=04)}">Kwiecień</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/analysis/details(month=05)}">Maj</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/analysis/details(month=06)}">Czerwiec</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/analysis/details(month=07)}">Lipiec</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/analysis/details(month=08)}">Sierpień</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/analysis/details(month=09)}">Wrzesień</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/analysis/details(month=10)}">Październik</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/analysis/details(month=11)}">Listopad</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/analysis/details(month=12)}">Grudzień</a></li>
            </ul>
        </div>
    </nav>

    <table class="table table-striped table-hover table-sm" >
        <thead class="thead-dark">
        <tr>
            <th> </th>
            <th th:each="employee : ${employees}" th:text="${employee.getName() + ' ' +  employee.getSurname()}"></th>
            <th>Razem</th>

        </tr>
        </thead>
        <tbody>

        <tr>
            <td>Wizyty zaplanowane</td>
            <td class="text-center" th:each="employee, iter : ${employees}" th:text="${employeesVisitsPlannedMap.get(iter.index)}"></td>
            <td class="text-center" th:text="*{sumOfPlannedVisits}"></td>
        </tr>
        <tr>
            <td>Wizyty zrealizowane</td>
            <td class="text-center" th:each="employee, iter : ${employees}" th:text="${employeesVisitsDoneMap.get(iter.index)}"></td>
            <td class="text-center" th:text="*{sumOfDoneVisits}"></td>
        </tr>


    <!--    <tr>
            <td>Wizyty miesięcznie</td>
            <td th:each="employee : ${employees}" th:text="*{counter}"></td>
        </tr>-->
        <tr>
            <td>Wykonane świadczenia</td>
            <td th:each="employee : ${employees}" th:text="*{counter}"></td>
        </tr>

        </tbody>
    </table>
    </div>
    </div>
</div>
</div>

</body>
</html>