.my-custom-scrollbar {
    position: relative;
    height: 78vh;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

.buttonBackground1 {
    background-color: lemonchiffon;
}

/*tr.border_bottom{*/
/*    border-top:1pt solid black;*/
/*}*/

.gradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ecf0e8+1,f7fffa+2,fdfffe+22,fdfffe+22,fdfffe+46,ffffff+85,ffffff+100 */
    background: rgb(236,240,232); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(236,240,232,1) 1%, rgba(247,255,250,1) 2%, rgba(253,255,254,1) 22%, rgba(253,255,254,1) 22%, rgba(253,255,254,1) 46%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(236,240,232,1) 1%,rgba(247,255,250,1) 2%,rgba(253,255,254,1) 22%,rgba(253,255,254,1) 22%,rgba(253,255,254,1) 46%,rgba(255,255,255,1) 85%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(236,240,232,1) 1%,rgba(247,255,250,1) 2%,rgba(253,255,254,1) 22%,rgba(253,255,254,1) 22%,rgba(253,255,254,1) 46%,rgba(255,255,255,1) 85%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf0e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
fieldset {
    border:1px solid lightgrey;
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
}
legend {
    /*padding: 0.2em 0.5em;*/
    width: 35%;
    color: gray;
    font-size:100%;
    text-align:center;
    position: relative;
    margin-bottom: 0;
}
legend:before {
    position: absolute;
    content: '';
    height: 8px;
    border-left: 1px solid gray;
    left: 0px;
    top: 7px;
}
legend:after {
    position: absolute;
    content: '';
    height: 8px;
    border-right: 1px solid gray;
    right: 0px;
    top: 7px;
}

#list-groupe-dane{
    border: 0;
    padding-top: 0;
}