<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<header th:fragment="title-menu">
    <div class="container pt-2">
        <nav class="navbar navbar-expand-lg navbar-dark bg-info" >
            <img class="" th:src="@{/images/cep.png}" alt="Card image" style="width:6%" src="">

<!--        <a style="background-color: white; color: red" class="navbar-brand text-danger" href="/patients">Medical Spring</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/patients">PACJENCI <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/visits">WIZYTY<span class="sr-only">(current)</span></a>
                </li>
                <li th:if="${isAdmin} == true" class="nav-item active">
                    <a class="nav-link" href="/medicines">LEKI<span class="sr-only">(current)</span></a>
                </li>
                <li th:if="${isAdmin} == true" class="nav-item active">
                    <a class="nav-link" href="/diseases">CHOROBY <span class="sr-only">(current)</span></a>
                </li>
                <li th:if="${isAdmin} == true" class="nav-item active">
                    <a class="nav-link" href="/treatments">ŚWIADCZENIA<span class="sr-only">(current)</span></a>
                </li>
                <li th:if="${isAdmin} == true" class="nav-item active">
                    <a class="nav-link" href="/categories">KATEGORIE <span class="sr-only">(current)</span></a>
                </li>
                <li th:if="${isAdmin} == true" class="nav-item active">
                    <a class="nav-link" href="/employees">PRACOWNICY<span class="sr-only">(current)</span></a>
                </li>
        <!--        <li class="nav-item active" style="background-color: red">
                    <a class="nav-link" href="/logout">Log out!<span class="sr-only">(current)</span></a>
                </li>-->

            </ul>

            <a class="btn btn-outline-danger" style="color: white;: red;" th:href="@{/logout}" th:text="'Wyloguj: ' + ${name} +' '+ ${surname}"></a>
        </div>
        </nav>

    </div>

</header>


<body>

</body>
</html>