<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<header th:fragment="title-menu">
    <div class="container pt-2" style="padding-bottom: 2%;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-info" >
        <a class="navbar-brand text-warning" href="/patients">Medical Spring</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/patients">Pacjenci <span class="sr-only">(current)</span></a>
                </li>
                <li th:if="${isAdmin} == false" class="nav-item active">
                    <a class="nav-link" th:href="@{/visits(status=false)}"><span class="sr-only">(current)</span>Wizyty zaplanowane</a>
                </li>
                <li th:if="${isAdmin} == false" class="nav-item active">
                    <a class="nav-link" th:href="@{/visits(status=true)}"><span class="sr-only">(current)</span>Wizyty zrealizowane</a>
                </li>
                <li  th:if="${isAdmin} == true" class="nav-item active">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Wizyty
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/visits(status=false)}"><span class="sr-only">(current)</span>Moje wizyty zaplanowane</a>
                            <a class="dropdown-item" th:href="@{/visits(status=true)}"><span class="sr-only">(current)</span>Moje wizyty zrealizowane</a>
                            <a class="dropdown-item" th:href="@{/visits/all-visits-list}"><span class="sr-only">(current)</span>Wszystkie wizyty</a>
                        </div>
                    </div>
                </li>




<!--                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/visits(status=false)}"><span class="sr-only">(current)</span>Wizyty zaplanowane</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/visits(status=true)}"><span class="sr-only">(current)</span>Wizyty zrealizowane</a>
                </li>-->

                   <!-- <a class="nav-link" href="/visits">Wizyty<span class="sr-only">(current)</span></a>-->


                <li th:if="${isAdmin} == true" class="nav-item active">
                    <a class="nav-link" href="/medicines">Leki<span class="sr-only">(current)</span></a>
                </li>
                <li th:if="${isAdmin} == true" class="nav-item active">
                    <a class="nav-link" href="/diseases">Choroby <span class="sr-only">(current)</span></a>
                </li>
                <li th:if="${isAdmin} == true" class="nav-item active">
                    <a class="nav-link" href="/treatments">Świadczenia<span class="sr-only">(current)</span></a>
                </li>
                <li th:if="${isAdmin} == true" class="nav-item active">
                    <a class="nav-link" href="/categories">Kategorie <span class="sr-only">(current)</span></a>
                </li>
                <li th:if="${isAdmin} == true" class="nav-item active">
                    <a class="nav-link" href="/analysis">Analiza <span class="sr-only">(current)</span></a>
                </li>
                <li th:if="${isAdmin} == true" class="nav-item active">
<!--                    <a class="nav-link" href="/employees">PRACOWNICY<span class="sr-only">(current)</span></a>-->
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pracownicy
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/employees">Pielęgniarki</a>
                            <a class="dropdown-item" href="/doctors">Lekarze</a>
                        </div>
                    </div>
                </li>
        <!--        <li class="nav-item active" style="background-color: red">
                    <a class="nav-link" href="/logout">Log out!<span class="sr-only">(current)</span></a>
                </li>-->

            </ul>

            <a class="btn btn-outline-danger" style="color: white;: red;" th:href="@{/logout}" th:text="'Wyloguj: ' + ${name} +' '+ ${surname}"></a>
        </div>
        </nav>

    </div>

</header>


<body>

</body>
</html>