<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Medical Spring</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="mt-10">
    <header id="header" class="alt" th:include="menu :: title-menu" />
</div>
<div class="container">
    <p class="btn btn-info btn-sm mb-3 mt-3">Fill form to add new visit</p>


    <form action="#" th:action="@{/visits/addNewNewVisit}" th:object="${visit}" method="POST">
        <div class="container">

            <span th:text="${'patientID: ' + patientId }"></span>
            <span th:text="${'employeID: ' + employeeId }"></span>

            <input type="number" th:field="*{visitPatientId}"  th:value="${patientId}"/>
            <input type="number" th:field="*{visitEmployeeId}" th:value="${employeeId}"/>

            <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">Date</label>
                <div class="col-10">
                    <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                </div>
            </div>
            <div class="mb-3">
                <input  id="visitDate" type="text" th:field="*{visitDate}" th:class="${#fields.hasErrors('visitDate')}? 'form-control  is-invalid' : 'form-control'"   placeholder="Birthday"/>
                <mark class="error-sign small" th:if="${#fields.hasErrors('visitDate')}" th:errors="*{visitDate}"></mark>
            </div>

            <div class="mb-3">
<!--                <input type="checkbox" name="active" th:checked="${user.active}" />-->
                <input type="checkbox" name="active" th:checked="${visit.visitStatus}" th:field="*{visitStatus}" th:class="${#fields.hasErrors('visitStatus')}? 'form-control  is-invalid' : 'form-control'"   placeholder="City"/>
                <mark class="error-sign small" th:if="${#fields.hasErrors('visitStatus')}" th:errors="*{visitStatus}"></mark>
            </div>

            <input type="submit" class="btn btn-outline-primary col-4">
            <input type="reset" class="btn btn-outline-secondary col-1">
        </div>

    </form>

    <a class="btn btn-outline-dark mb-3 mt-3" th:href="@{/visits}">Back to list</a>

</div>

</body>
</html>