<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Medical Spring</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="mt-10">
    <header id="header" class="alt" th:include="menu :: title-menu" />
</div>
<div class="container">
    <p class="btn btn-info btn-sm mb-3 mt-3">Fill form to add new visit</p>



    <form action="#" th:action="@{/visits/addNewNewVisit}" th:object="${visit}" method="POST">
        <input type="hidden" th:value="${patientId}" name="visitPatientId" />
        <input type="hidden" th:value="${employeeId}" name="visitEmployeeId" />
        <span th:text="${'patientID: ' + patientId}"></span>

        <div class="container">
            <div class="row">
                <div class="col-md-5">

                    <!--            for UPDATE -->
                    <input type="hidden" th:field="*{visitId}"/>

                    <div class="mb-3">
                        <input  id="visitDate" type="date" th:field="*{visitDate}" th:class="${#fields.hasErrors('visitDate')}? 'form-control  is-invalid' : 'form-control'"   placeholder="Select visit date..."/>
                        <mark class="error-sign small" th:if="${#fields.hasErrors('visitDate')}" th:errors="*{visitDate}"></mark>
                    </div>

                    <div class="mb-3">
                        <input type="checkbox" name="active" th:checked="${visit.visitStatus}" th:field="*{visitStatus}" th:class="${#fields.hasErrors('visitStatus')}? 'form-control  is-invalid' : 'form-control'"   placeholder="City"/>
                        <mark class="error-sign small" th:if="${#fields.hasErrors('visitStatus')}" th:errors="*{visitStatus}"></mark>
                    </div>
                </div>
                <div class="col-md-5">

                </div>
            </div>
            <div class="row">
                <input type="submit" class="btn btn-outline-primary col-4">
                <input type="reset" class="btn btn-outline-secondary col-1">
            </div>

        </div>
    </form>

    <a class="btn btn-outline-dark mb-3 mt-3" th:href="@{/visits}">Back to list</a>

</div>

</body>
</html>